html {
    font-size: 12px;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header {
    position: relative;
    border-bottom: 1px solid #d0d0d0;
    background: #46A3FF;
}

.header .logo {
    width: 20px;
    vertical-align: -5px;
}

.header .title {
    margin: 0 0 0 10px;
}

.header .navbar-brand {
    color: #fff;
}

.header .nav-link {
    color: #fff;
}

.panel {
    height: 360px;
    background: rgba(0, 0, 0, 0.4);
    margin: 25px 30px 0;
}

.modal-dialog-new-password {
    width: 280px;
}
