{
  "parser": "babel-eslint",
  "extends": "standard",
  "rules": {
    'arrow-parens': 0,
    'generator-star-spacing': 0,
    'no-debugger': 2
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
