<html>
    <head>
        <% include ./common/head.html %>
        <link rel="stylesheet" href="/css/admin/layout.css">
        <link rel="stylesheet" href="/css/admin/records.css"></head>
    <body>
        <div class="wrapper">
            <% include ./common/nav.html %>
            <div class="layout">

            </div>
            <% include ./common/footer.html %>
        </div>

        <script 
            type="text/javascript" 
            src="https://raddeana-libs.oss-cn-hangzhou.aliyuncs.com/requirejs/require.js" 
            data-main="js/admin/index.js"
        ></script>
    </body>
</html>