<html>
    <head>
        <% include ./common/head.html %>
        <link rel="stylesheet" href="https://raddeana-libs.oss-cn-hangzhou.aliyuncs.com/bootstrap/datepicker/bootstrap-datepicker3.min.css">
        <link rel="stylesheet" href="/css/admin/layout.css">
        <link rel="stylesheet" href="/css/admin/records.css">
    </head>
    <body>
        <div class="wrapper">
            <% include ./common/nav.html %>
            <div class="layout">
                <div class="view-records">
                    <div class="panel">
                        <div class="row">
                            <div class="col-md-2 filter-wrapper">
                                <input class="form-control" data-provide="datepicker" id="datepicker-begin">
                            </div>
                            <div class="col-md-2 filter-wrapper">
                                <input class="form-control" data-provide="datepicker" id="datepicker-end">
                            </div>
                            <div class="col-md-2 filter-wrapper">
                                <select class="form-control" id="select-projects">
                                    <option value="0">0 / days</option>
                                    <option value="1">1 / months</option>
                                    <option value="2">2 / years</option>
                                    <option value="3">3 / decades</option>
                                    <option value="4">4 / centuries</option>
                                </select>
                            </div>
                            <div class="col-md-4 button-container">
                                <butto id="search" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">git名称</th>
                                    <th scope="col">类型</th>
                                    <th scope="col">时间</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>
                                        <a href="javascript:;">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav class="pagination-wrapper">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <% include ./common/footer.html %>
        </div>
        <script
            type="text/javascript"
            src="https://raddeana-libs.oss-cn-hangzhou.aliyuncs.com/bootstrap/datepicker/bootstrap-datepicker.min.js"
        ></script>
        <script 
            type="text/javascript"
            src="https://raddeana-libs.oss-cn-hangzhou.aliyuncs.com/requirejs/require.js" 
            data-main="js/admin/records.js"
        ></script>
    </body>
</html>