<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a 
            class="navbar-brand" 
            href="/charts"
        >
            <image class="logo" src="https://raddeana-materials.oss-cn-hangzhou.aliyuncs.com/images/logo.png" />
            <span class="title">部署服务</span>
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-toggle="collapse"
            aria-controls="nav-items" 
            data-target="#nav-items"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            id="nav-items"
            class="navbar-collapse collapse"
        >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= name === 'charts' ?  'active' : '' %>">
                    <a
                        class="nav-link" 
                        href="/charts"
                    >
                        可视化图表
                    </a>
                </li>
                <li class="nav-item <%= name === 'records' ?  'active' : ''  %>">
                    <a 
                        class="nav-link" 
                        href="/records"
                    >
                        记录列表
                    </a>
                </li>
                <li class="nav-item <%= name === 'projects' ?  'active' : ''  %>">
                    <a 
                        class="nav-link" 
                        href="/projects"
                    >
                        项目列表
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a 
                        id="navbarDropdownMenuLink" 
                        class="nav-link dropdown-toggle" 
                        href="#" 
                        role="button" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false"
                    >
                        用户
                    </a>
                    <div 
                        class="dropdown-menu" 
                        aria-labelledby="navbarDropdownMenuLink"
                    >
                        <a 
                            class="dropdown-item" 
                            href="javascript:;"
                        >
                            修改密码
                        </a>
                        <a 
                            class="dropdown-item" 
                            href="/logout"
                        >
                            登出
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>